html  
    head
        title jump
        link(rel="stylesheet", href="styles/main.css")
    body
        h1 jump
        canvas(id="jump-canvas") Your browser doesn't support the HTML canvas
    script(src='js/main.js')
